{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/p6/public/css/index.css"/>
{% endblock %}

{% block body %}
    <header class="row" id="top">
        <figure class="offset-sm-12">
            <img src="/p6/public/img/header.jpg" alt="Photo d'un snowboarder faisant une figure de snow" class="img-fluid"/>
            <h1 id="header_title">Snow<span class="bold shift">Tricks</span></h1>
            <figcaption>
                Photo de <a href="https://unsplash.com/@saltnstreets" target="_blank">Alesia Kazantceva</a> sur
                <a href="https://unsplash.com" target="_blank">Unsplash</a>
            </figcaption>
            <button class="btn btn-light">
                <a href="#tricks" class="a_scrollspy">
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </button>
        </figure>
    </header>

    <section id="tricks">
        <h2>Tricks</h2>

        <div class="row">
            {% for trick in tricks %}
                <div class="card col-lg-3 col-md-4 col-sm-12">
                    <div class="card-block">
                        <a href="/p6/trick/{{ trick.category.name }}/{{ trick.slug }}">
                            <img src="/p6/public/img/header.jpg" alt="Image du trick" class="card-img-top"/>
                        </a>

                        <div class="card-footer">
                            <p class="card-text">
                                <a href="/p6/trick/{{ trick.category.name }}/{{ trick.slug }}">
                                    {{ trick.category.name | capitalize }} - {{ trick.name }}
                                </a>
                            </p>
                            {% if isContrib == true and tokens[trick.id] != null %}
                                <div class="modifs">
                                    <form method="post" action="/trick/modifier/{{ trick.id }}">
                                        <input type="hidden" value="{{ tokens[trick.id] }}" name="token" />
                                        <button type="submit" class="material-icons">create</button>
                                    </form>
                                    <form method="post" action="/trick/supprimer/{{ trick.id }}">
                                        <input type="hidden" value="{{ tokens[trick.id] }}" name="token" />
                                        <button type="submit" class="material-icons">delete</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="/p6/public/js/scrollspy.js" type="text/javascript"></script>
{% endblock %}
