{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Liste des Tricks{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin/user.css" />
{% endblock %}

{% block body %}

    <h1>Liste des Tricks</h1>

    {% if filtered ==true %}<h2>{{ category }} : {{ options }}</h2>{% endif %}

    <div class="row">
        <div class="offset-sm-1 col-sm-10">
            <a href="/trick/ajouter" class="btn btn-success">Nouvelle Trick</a>
        </div>
    </div>

    <div class="row">
        <div class="offset-sm-1 col-sm-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Publiée</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Auteur</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for trick in tricks %}
                    <tr>
                        <td>
                            <a href="/trick/{{ trick.category.name }}/{{ trick.name }}">{{ trick.name }}</a>
                        </td>
                        <td>
                            <a href="/trick/liste/categorie/{{ trick.category.name }}">{{ trick.category.name }}</a>
                        </td>
                        <td>
                            {% if trick.published == true %}
                                <i class="material-icons">check_box</i>
                            {% else %}
                                <i class="material-icons">check_box_outline_blank</i>
                            {% endif %}
                        </td>
                        <td>{{ trick.createdAt | date('d-m-Y H:i') }}</td>
                        <td>{{ trick.updatedAt | date('d-m-Y H:i') }}</td>
                        <td>
                            <a href="/trick/liste/auteur/{{ trick.user.pseudo }}">{{ trick.user.pseudo }}</a>
                        </td>
                        <td>
                            <form method="post" action="/trick/modifier/{{ trick.id }}">
                                <input type="hidden" value="{{ tokens[trick.id] }}" name="token" />
                                <button type="submit" class="btn btn-info">Modifier</button>
                            </form>
                            <form method="post" action="/trick/supprimer/{{ trick.id }}">
                                <input type="hidden" value="{{ tokens[trick.id] }}" name="token" />
                                <button type="submit" class="btn btn-warning">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if filtered == true %}
        <div class="row returnLink">
            <div class="offset-sm-1 col-sm-10">
                <a href="/trick/liste"><- Retourner à la liste générale</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
