{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - {{ trick.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/p6/public/css/tricks/show.css"/>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-sm-2 col-sm-8" id="trick">
            <header class="row">
                <figure>
                    <img src="/p6/public/img/header.jpg" alt="Image d'un snowboarder" class="img-fluid"/>
                    <h1>{{ trick.category.name | capitalize }} - {{ trick.name }}</h1>
                </figure>
            </header>

            <section id="description">
                {% if trick.pictures is not empty %}
                    <div class="row" id="medias">
                        <h2 class="col-sm-12">Médias</h2>
                        {% for picture in trick.pictures %}
                            <div class="col-sm-3">
                                <img src="/p6/public/img/pic_dl/tricks/{{ picture.name }}.{{ picture.ext }}"
                                     alt="{{ picture.alt }}" class="img-fluid" />
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row" id="description">
                    <h2 class="col-sm-12">Description</h2>
                    <p class="col-sm-12">{{ trick.description }}</p>
                </div>
                <div class="row" id="infos">
                    <h2 class="col-sm-12">Infos</h2>
                    {% if date(trick.createdAt) != date(trick.updatedAt) %}
                        <div class="col-sm-3">
                            <span class="badge badge-pill badge-info">Auteur</span>
                            {{ trick.user.pseudo }}
                        </div>

                        <div class="col-sm-3">
                            <span class="badge badge-pill badge-info">Catégorie</span>
                            {{ trick.category.name | capitalize }}
                        </div>

                        <div class="col-sm-3">
                            <span class="badge badge-pill badge-info">Crée le</span>
                            {{ trick.createdAt | date('d/m/Y H:m:s') }}
                        </div>

                        <div class="col-sm-3">
                            <span class="badge badge-pill badge-info">Modifié le</span>
                            {{ trick.updatedAt | date('d/m/Y H:m:s') }}
                        </div>
                    {% else %}
                        <div class="col-sm-4">
                            <span class="badge badge-pill badge-info">Auteur</span>
                            {{ trick.user.pseudo }}
                        </div>

                        <div class="col-sm-4">
                            <span class="badge badge-pill badge-info">Catégorie</span>
                            {{ trick.category.name | capitalize }}
                        </div>

                        <div class="col-sm-4">
                            <span class="badge badge-pill badge-info">Crée le</span>
                            {{ trick.createdAt | date('d/m/Y H:m:s') }}
                        </div>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>

    <section class="row" id="comments">
        <div class="offset-sm-2 col-sm-8" id="comments_block">
            <div class="row">
                <h2 class="col-sm-12">Espace de discussion</h2>
            </div>

            {% if isConnected == true %}
                {{ form(form) }}
            {% endif %}

            {% if comments is defined %}
                {% for comment in comments %}
                    <div class="col-sm-12 comment">
                        <div class="row">
                            <div class="col-sm-1 avatar_containing">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% if comment.user.picture is null %}
                                            <img src="/p6/public/img/pic_dl/users/avatar.jpg" alt="Logo"
                                                 class="img-fluid"/>
                                        {% else %}
                                            <img src="/p6/public/img/pic_dl/users/{{ comment.user.picture.name }}.{{ comment.user.picture.ext }}"
                                                 alt="{{ comment.user.picture.alt }}" class="img-fluid"/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11 bubble_containing">
                                <div class="row">
                                    <div class="col-sm-12 bubble">
                                        <h3>
                                            <span>Commentaire de {{ comment.user.pseudo }}</span>,
                                            {% if comment.updatedAt == comment.createdAt %}
                                                posté
                                            {% else %}
                                                modifié
                                            {% endif %}
                                            le {{ comment.updatedAt | date('d-m-Y H:i') }}
                                        </h3>
                                        <br/>
                                        <p>{{ comment.comment }}</p>
                                    </div>
                                </div>
                                {% if isContrib == true and tokens is not empty and tokens[comment.id] != null %}
                                    <div class="modifs">
                                        <form method="post"
                                              action="/p6/trick/{{ trick.category.name }}/{{ trick.slug }}/{{ comment.id }}">
                                            <input type="hidden" value="{{ tokens[comment.id] }}" name="token"/>
                                            <button type="submit" class="material-icons">create</button>
                                        </form>
                                        <form method="post"
                                              action="/p6/trick/{{ trick.category.name }}/{{ trick.slug }}/{{ comment.id }}/del">
                                            <input type="hidden" value="{{ tokens[comment.id] }}" name="token"/>
                                            <button type="submit" class="material-icons">delete</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>

{% endblock %}
